.skills {
  grid-area: page;
  display: grid;
  width: 75vw;
  height: auto;
}

.skills__graphic {
  margin: auto;
  width: auto;
  height: auto;
}

.skills__title {
  text-align: center;
  font-family: 'Mastodon';
  font-weight: 600;
  font-size: 3rem;
  color: var(--color-white);
}