---
import Layout from '../layouts/Layout.astro'
import Header from '../components/header.astro'
import AsideInfo from '../components/asideInfo.astro'
---

<Layout>
	{
		//<Header />
	}
	<AsideInfo />
	<aside>
		<!-- FEED -->
	</aside>
	<main>
		<!-- PROJECTS -->
	</main>
	<section>
		<!-- STATS  -->
	</section>
	<section>
		<!-- EDUCATION -->
	</section>
	<footer>
		<!-- FOOTER -->
	</footer>
</Layout>
