<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Porfolio Fernando A.</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>

	@font-face {
		font-family: "Mastodon";
		src: url('/fonts/mastodon.woff2') format('woff2');
	}
	@font-face {
		font-family: "EuroStyle";
		src: url('/fonts/eurostyle.woff') format('woff');
	}

	:root{
		--color-gray: #BEBEBE;
		--color-black: #1F1F1F;
		--color-white: #f2f2f2;
		--color-green: #21721268;
		--color-blue: #3838dd;
		--color-red: #c84242;
		--color-skyblue: #2cc5dc;
		--color-foreground: #545454;
	}

	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	body {
		width: 100%;
		height: 100%;

		display: grid;
		grid-template-columns: 25vw 50vw 25vw;
		grid-template-rows: 5vh 95vh;

		grid-template-areas: 
			"left-aside header header"
			"left-aside main right-aside";

		background-color: var(--color-black);
	}
</style>
